body {
  background-image: url(img/fondoweb.jpg);
  color: black;
  font-family: 'Chivo Mono', monospace;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;
}
h1 {
  font-family: 'Chivo Mono', monospace;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffa07a;
  font-size: 3em;
  padding: 50px 0;
  text-shadow: 5px 5px rgb(36, 36, 36);
}

h2 {
  background-color: rgb(217, 238, 199);
  border-radius: 25px;
  padding: 12px;
  width: 300px;
  font-size: 18px;
  text-align: center;
}
  
div {
  border: 1px solid #556b2f;
  border-radius: 5px;
}
button {
  background-image: linear-gradient(to right, #ffa07a, #556b2f);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.wizard-navigation {
  margin-bottom: 20px;
}

.show {
  display: block;
}
.hidden {
  display: none;
}
  
footer {
  background-color: #f6c8b6;
  text-align: center;
  border-radius: 5px;
}